.proposal.card {
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.larger-text {
  font-size: 35px;
}

.black-text {
  color: #000;
}

.sans-serif-font {
  font-family: Arial, sans-serif;
}
